<div *ngFor="let a of files">
  <p>id:</p>{{a.id}} nome:{{a.name}}

  </div>
<button class="button btn-info" *ngIf='showFile' (click)='showFiles(false)'>Não mostrar imagens</button>

<button class="button btn-info" *ngIf='!showFile' (click)='showFiles(true)'>Mostrar imagens</button>

<div [hidden]="!showFile">
  <div class="panel panel-primary">
    <div class="panel-heading">Lista das imagens</div>
    <div *ngFor="let file of fileUploads | async">
      <div class="panel-body">
        <details-upload [fileUpload]='file'></details-upload>
      </div>
    </div>
  </div>
</div>
